.products {
  display: flex;
  background-color: white;
  position: absolute;
  width: 100%;
  margin: 0 auto;
}

.products_section {
  flex: 0.15;
  padding: 10px;
  padding-top: 15px;
  height: 100vh;
  padding-right: 40px;
  box-shadow: 5px 0 5px -2px black;
  position: fixed;
}

.products_section_categories,
.products_section_services,
.products_section_filter {
  margin-left: 20px;
  margin-top: 20px;
  border-bottom: 3px solid gray;
}

.products_section_categories {
  padding-bottom: 10px;
}

.products_section_filter {
  margin-top: 25px;
  padding-bottom: 20px;
}

.products_section_services {
  margin-top: 25px;
  padding-bottom: 20px;
}

.section_sortBy {
  padding-left: 30px;
  font-weight: bolder;
}

.MuiFormLabel-root {
  font-weight: bolder;
  color: rgb(36, 34, 34);
}

/* .MuiRadio-colorSecondary.Mui-checked {
  color: #6ac099 im !important;
} */

.products_main {
  padding-top: 30px;
  flex: 1;
  margin: 0 auto;
  padding-left: 15%;
  height: 95vh;
}

.selected_Products {
  margin-bottom: 60px;
}

.selected_Products > h1 {
  font-weight: 400;
}

.products_main_grid_card {
  cursor: pointer;
  padding: 15px 40px;
  margin: 2px;
  background-color: white;
  text-align: center;
  border-right: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.latest_product {
  height: 80px;
  width: 80px;
  position: absolute;
  margin-left: -40px;
  margin-top: -10px;
}

.products_main_grid_card:hover {
  box-shadow: 2px 2px 2px 2px #888;
}

.products_main_grid_img {
  width: 250px;
  height: 200px;
}

.products_main_grid_details {
  padding: 10px;
  margin-top: -10px;
  background-color: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.products_main_grid_info > h2 {
  margin-top: 10px;
  font-size: 1.1rem;
  text-align: left;
  font-weight: 600;
}

.products_main_grid_info > h1 {
  font-size: 1.2rem;
  padding: 5px;
  margin-bottom: 5px;
  width: fit-content;
  border-radius: 10px;
  font-weight: 600;
  color: brown;
}

.products_main_grid_seller {
  background-color: whitesmoke;
  color: black;
  font-weight: 400;
  justify-content: space-between;
  padding: 5px;
  border-radius: 10px;
  width: fit-content;
  font-size: 1rem;
  margin-top: -8px;
}
