.products_sectionRow {
  display: flex;
  max-width: 200px;
  align-items: center;
  margin-left: 8px;
  cursor: pointer;
  padding-left: 10px;
  font-weight: 400;
  border-radius: 10px;
  color: rgb(83, 83, 83);
}

.products_sectionRow > p {
  margin-left: 10px;
  font-size: 18px;
  color: black;
}

.products_sectionRow:hover {
  background-color: rgb(197, 195, 195);
  font-weight: 800;
  color: black;
}
