.products_sectionRow {
  display: flex;
  max-width: 200px;
  align-items: center;
  margin-left: 20px;
  margin-top: 10px;
  cursor: pointer;
  padding: 6px;
  border-radius: 10px;
}

.products_sectionRow > p {
  margin-left: 10px;
  font-weight: bold;
}

.products_sectionRow:hover {
  background-color: #6ac099;
  color: whitesmoke;
}
